# Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/
mistralai-env/
.mistralai-env/

# Django specific
*.log
*.pot
*.pyc
*.pyo
staticfiles/
media/
db.sqlite3
*.sqlite3

# Environment variables and secrets
.env
.env.*

# IDEs and editors
.idea/
.vscode/
*.swp

# Cache and temporary files
*.tmp
*.bak
*.swp
*.swo
.DS_Store
Thumbs.db

# Testing
.tox/
.nox/
.pytest_cache/

# Packaging
*.egg
*.egg-info/
dist/
build/
.eggs/

*.finsage

uploads/Data.csv
Simple-example-financial-statement-model_v4(1).xlsm
Simple-example-financial-statement-model_v4.xlsm
Simple-example-financial-statement-model_v2(1).xlsm
Simple-example-financial-statement-model_v2.xlsm
~$Simple-example-financial-statement-model_v4(1).xlsm
